$font-path: "../fonts" !default;


@font-face{
  font-family: 'Poppins', sans-serif;
  src: url("#{$font-path}/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Nunito Sans', sans-serif;
  src: url("#{$font-path}/Nunito_Sans/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'PT Sans Narrow', sans-serif;
  src: url("#{$font-path}/PT_Sans_Narrow/PTSansNarrow-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url("#{$font-path}/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Quicksand', sans-serif;
  src: url("#{$font-path}/Quicksand/static/Quicksand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}